{% extends 'base.html' %}

{% block title %}
Add feedback
{% endblock %}

{% block content %}
<h2>Add Feedback</h2>

<form method="POST">
  {{form.hidden_tag()}}

  {% for field in form 
              if field.widget.input_type != 'hidden' %}
      <p>
        {{field.label}}
        {{field}}
        {% for error in field.errors %}
          {{error}}
        {% endfor %}
      </p>
  {% endfor %}

  <button class="btn btn-primary" type="submit">Add</button>
</form>
<a class="btn btn-light" href="/users/{{user.username}}">Cancel</a>



{% endblock %}